@use "../abstracts/fonts";
@use "../abstracts/variables" as v;

.details {
  display: flex;
  justify-content: space-between;
  margin: 100px 40px 20px;

  section {
    display: flex;
    flex-direction: column;
    gap: 10px;

    * {
      margin: 0;
      padding: 0;
    }

    img {
      width: 60px;
    }

    h3 {
      font-size: 18px;
      font-weight: 400;
    }

    p {
      font-size: 14px;
      color: v.$color-letter2;
      max-width: 60%;
    }
  }
}
